<div class="form-group">
  <input type="text" class="form-control"  placeholder="Search" aria-label="Search" style="width:300px" [(ngModel)]="searchTerm"/>
  <table class="table">
    <tbody>
      <tr>
        <td class="list-group-item" *ngFor="let item of itemList">
          <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)" />
          {{item.name}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card" *ngFor="let image of images | imageFilter: searchTerm: filterTerm">
  <div class="card-body">
    <img [lazyLoad]=image.url/>
    <p>{{image.text}}</p>
  </div>
</div>
